{
  "extends": [
    "@strv/stylelint-config-styled-components",
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-config-prettier"
  ],
  "rules": {
    "no-empty-source": null
  }
}
