/* stylelint-disable */
.u-section-1 .u-sheet-1 {
  min-height: 192px;
}
.u-section-1 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 6rem;
}
.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 60px 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 64px;
  }
  .u-section-1 .u-text-1 {
    font-size: 3.75;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3;
  }
}
.u-section-2 {
  background-image: none;
}
.u-section-2 .u-sheet-1 {
  min-height: 416px;
}
.u-section-2 .u-image-1 {
  min-height: 354px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('images/phm-cup-19-lnv-bdt_31042995958_o.jpg');
  background-position: 50% 50%;
  margin: 31px auto 31px 0;
}
.u-section-2 .u-container-layout-1 {
  padding: 30px;
}
.u-section-2 .u-group-2 {
  min-height: 130px;
  width: 631px;
  margin: 0 auto 0 0;
}
.u-section-2 .u-container-layout-2 {
  padding: 10px 30px;
}
.u-section-2 .u-shape-1 {
  width: 361px;
  height: 110px;
  background-image: none;
  margin: 0 auto 0 94px;
}
.u-section-2 .u-image-2 {
  width: 163px;
  height: 110px;
  margin: -110px 92px 0 auto;
}
.u-section-2 .u-group-3 {
  min-height: 109px;
  width: 130px;
  margin: -110px 0 0 auto;
}
.u-section-2 .u-container-layout-3 {
  padding: 5px 30px 0;
}
.u-section-2 .u-text-1 {
  font-family: 'Bungee Shade';
  font-size: 5.4rem;
  background-image: none;
  margin: 0 -12px;
}
.u-section-2 .u-text-2 {
  font-family: 'Fugaz One';
  font-size: 3rem;
  text-decoration: underline !important;
  margin: -79px 266px 0 110px;
}
.u-section-2 .u-group-4 {
  min-height: 130px;
  width: 631px;
  margin: -14px auto 0 0;
}
.u-section-2 .u-container-layout-4 {
  padding: 10px 30px;
}
.u-section-2 .u-shape-2 {
  width: 361px;
  height: 110px;
  background-image: none;
  margin: 0 auto 0 94px;
}
.u-section-2 .u-image-3 {
  width: 163px;
  height: 110px;
  margin: -110px 92px 0 auto;
}
.u-section-2 .u-group-5 {
  min-height: 109px;
  width: 130px;
  margin: -110px 0 0 auto;
}
.u-section-2 .u-container-layout-5 {
  padding: 5px 30px 0;
}
.u-section-2 .u-text-3 {
  font-family: 'Bungee Shade';
  font-size: 5.4rem;
  background-image: none;
  margin: 0 -12px;
}
.u-section-2 .u-text-4 {
  font-family: 'Fugaz One';
  font-size: 3rem;
  margin: -78px 266px 0 110px;
}
.u-section-2 .u-group-6 {
  min-height: 114px;
  width: 631px;
  height: auto;
  margin: 0 auto -15px 0;
}
.u-section-2 .u-container-layout-6 {
  padding: 5px 30px 10px;
}
.u-section-2 .u-shape-3 {
  height: 19px;
  width: 477px;
  margin: -7px 0 0 94px;
}
.u-section-2 .u-text-5 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: -17px 110px 0 auto;
}
.u-section-2 .u-text-6 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: -17px 31px 0 auto;
}
.u-section-2 .u-text-7 {
  font-size: 1.1rem;
  font-weight: 700;
  margin: -18px auto 0 123px;
}
.u-section-2 .u-text-8 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: -16px 213px 0 auto;
}
.u-section-2 .u-image-4 {
  width: 64px;
  height: 77px;
  margin: 10px 210px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-4 {
    margin-right: 241px;
    margin-left: 84px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-2 .u-group-2 {
    width: 520px;
  }
  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-2 .u-text-2 {
    margin-right: 231px;
    margin-left: 74px;
  }
  .u-section-2 .u-group-4 {
    width: 520px;
  }
  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-2 .u-text-4 {
    margin-right: 191px;
    margin-left: 34px;
  }
  .u-section-2 .u-group-6 {
    width: 520px;
  }
  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-2 .u-shape-3 {
    margin-left: 23px;
  }
  .u-section-2 .u-text-5 {
    margin-right: 39px;
  }
  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
  .u-section-2 .u-text-7 {
    margin-left: 55px;
  }
  .u-section-2 .u-text-8 {
    margin-right: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-2 {
    width: 320px;
  }
  .u-section-2 .u-shape-1 {
    width: 300px;
    margin-left: 0;
  }
  .u-section-2 .u-text-2 {
    margin-right: 105px;
    margin-left: 0;
  }
  .u-section-2 .u-group-4 {
    width: 320px;
  }
  .u-section-2 .u-shape-2 {
    width: 300px;
    margin-left: 0;
  }
  .u-section-2 .u-text-4 {
    margin-right: 25px;
    margin-left: 0;
  }
  .u-section-2 .u-group-6 {
    width: 320px;
  }
  .u-section-2 .u-shape-3 {
    width: 300px;
    margin-top: 2580px;
    margin-left: 0;
  }
  .u-section-2 .u-text-5 {
    margin-top: -2948px;
    margin-right: 0;
  }
  .u-section-2 .u-text-6 {
    margin-top: 0;
  }
  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 6173px;
    margin-left: 10px;
  }
  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 23px;
  }
  .u-section-2 .u-image-4 {
    margin-right: auto;
    margin-left: 37px;
  }
}
.u-section-3 {
  margin-top: 0;
  margin-bottom: 0;
}
.u-section-3 .u-sheet-1 {
  min-height: 81px;
}
.u-section-3 .u-text-1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  font-size: 1.5rem;
}
.u-section-4 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 275px;
}
.u-section-4 .u-image-1 {
  min-height: 275px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url('images/img_6844_44725121895_o.jpg');
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.u-section-4 .u-container-layout-1 {
  padding: 30px;
}
.u-section-4 .u-text-1 {
  font-size: 4rem;
  margin: 57px 46px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-left: initial;
  }
  .u-section-4 .u-text-1 {
    margin-left: 37px;
    margin-right: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-4 .u-text-1 {
    font-size: 1.5;
    margin-left: 22px;
    margin-right: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}
.u-section-5 {
  margin-top: 0;
  margin-bottom: 0;
}
.u-section-5 .u-sheet-1 {
  min-height: 135px;
}
.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 55px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}
.u-section-6 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url('images/phm-cup-19-mim-ber_31388868878_o.jpg');
  background-position: 50% 50%;
}
.u-section-6 .u-sheet-1 {
  min-height: 676px;
}
.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}
.u-section-6 .u-group-1 {
  width: 799px;
  min-height: 83px;
  margin: 33px auto 0 171px;
}
.u-section-6 .u-container-layout-1 {
  padding: 5px 30px;
}
.u-section-6 .u-image-1 {
  width: 352px;
  height: 70px;
  margin: -2px auto 0 -30px;
}
.u-section-6 .u-image-2 {
  width: 348px;
  height: 70px;
  margin: -73px -28px 0 auto;
}
.u-section-6 .u-image-3 {
  width: 800px;
  min-height: 50px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url('images/phm-cup-19-lnv-bdt_31042995958_o.jpg');
  background-position: 50% 50%;
  margin: 0 auto;
}
.u-section-6 .u-container-layout-2 {
  padding: 5px 30px;
}
.u-section-6 .u-text-2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin: 9px auto 0;
}
.u-section-6 .u-text-3 {
  font-size: 1.9rem;
  font-weight: 700;
  margin: -30px 0 0 auto;
}
.u-section-6 .u-text-4 {
  font-size: 1.9rem;
  font-weight: 700;
  margin: -30px auto 0 0;
}
.u-section-6 .u-image-4 {
  width: 799px;
  min-height: 59px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url('images/phm-cup-19-lnv-bdt_31042995958_o.jpg');
  background-position: 50% 50%;
  margin: 5px auto 0;
}
.u-section-6 .u-container-layout-3 {
  padding: 5px 30px;
}
.u-section-6 .u-text-5 {
  font-size: 1.9rem;
  font-weight: 700;
  margin: 0 auto;
}
.u-section-6 .u-text-6 {
  font-size: 1.9rem;
  font-weight: 700;
  margin: -30px 0 0 auto;
}
.u-section-6 .u-text-7 {
  font-size: 1.9rem;
  font-weight: 700;
  margin: -30px auto 0 0;
}
.u-section-6 .u-image-5 {
  width: 799px;
  min-height: 59px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url('images/phm-cup-19-lnv-bdt_31042995958_o.jpg');
  background-position: 50% 50%;
  margin: 6px auto 0;
}
.u-section-6 .u-container-layout-4 {
  padding: 5px 30px;
}
.u-section-6 .u-text-8 {
  font-size: 1.9rem;
  font-weight: 700;
  margin: 11px auto 0;
}
.u-section-6 .u-text-9 {
  font-size: 1.9rem;
  font-weight: 700;
  margin: -31px 0 0 auto;
}
.u-section-6 .u-text-10 {
  font-size: 1.9rem;
  font-weight: 700;
  margin: -31px 727px 0 0;
}
.u-section-6 .u-text-11 {
  margin: 30px auto 0;
}
.u-section-6 .u-layout-wrap-1 {
  width: 800px;
  margin: 11px auto 60px;
}
.u-section-6 .u-image-6 {
  min-height: 28px;
  background-image: url('images/WOLFPACK_LOGO.png');
}
.u-section-6 .u-container-layout-5 {
  padding: 0;
}
.u-section-6 .u-layout-cell-2 {
  min-height: 28px;
  background-image: none;
}
.u-section-6 .u-container-layout-6 {
  padding: 0;
}
.u-section-6 .u-text-12 {
  font-size: 1.5rem;
  margin: 0 auto;
}
.u-section-6 .u-layout-cell-3 {
  min-height: 28px;
}
.u-section-6 .u-container-layout-7 {
  padding: 0 0 0 5px;
}
.u-section-6 .u-text-13 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}
.u-section-6 .u-layout-cell-4 {
  min-height: 28px;
}
.u-section-6 .u-container-layout-8 {
  padding: 0;
}
.u-section-6 .u-image-7 {
  min-height: 28px;
  background-image: url('images/LEV_circle.png');
}
.u-section-6 .u-container-layout-9 {
  padding: 0;
}
.u-section-6 .u-layout-cell-6 {
  min-height: 28px;
  background-image: none;
}
.u-section-6 .u-container-layout-10 {
  padding: 0;
}
.u-section-6 .u-text-14 {
  width: 42px;
  font-size: 1.5rem;
  margin: 0 auto;
}
.u-section-6 .u-layout-cell-7 {
  min-height: 28px;
}
.u-section-6 .u-container-layout-11 {
  padding: 0 0 0 5px;
}
.u-section-6 .u-text-15 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}
.u-section-6 .u-layout-cell-8 {
  min-height: 28px;
}
.u-section-6 .u-container-layout-12 {
  padding: 0;
}
.u-section-6 .u-image-8 {
  min-height: 28px;
  background-image: url('images/LEV_circle.png');
}
.u-section-6 .u-container-layout-13 {
  padding: 0;
}
.u-section-6 .u-layout-cell-10 {
  min-height: 28px;
  background-image: none;
}
.u-section-6 .u-container-layout-14 {
  padding: 0;
}
.u-section-6 .u-text-16 {
  font-size: 1.5rem;
  margin: 0 auto;
}
.u-section-6 .u-layout-cell-11 {
  min-height: 28px;
}
.u-section-6 .u-container-layout-15 {
  padding: 0 0 0 5px;
}
.u-section-6 .u-text-17 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}
.u-section-6 .u-layout-cell-12 {
  min-height: 28px;
}
.u-section-6 .u-container-layout-16 {
  padding: 0;
}
.u-section-6 .u-image-9 {
  min-height: 28px;
  background-image: url('images/WOLFPACK_LOGO.png');
}
.u-section-6 .u-container-layout-17 {
  padding: 0;
}
.u-section-6 .u-layout-cell-14 {
  min-height: 28px;
  background-image: none;
}
.u-section-6 .u-container-layout-18 {
  padding: 0;
}
.u-section-6 .u-text-18 {
  font-size: 1.5rem;
  margin: 0 auto;
}
.u-section-6 .u-layout-cell-15 {
  min-height: 28px;
}
.u-section-6 .u-container-layout-19 {
  padding: 0 0 0 5px;
}
.u-section-6 .u-text-19 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}
.u-section-6 .u-layout-cell-16 {
  min-height: 28px;
}
.u-section-6 .u-container-layout-20 {
  padding: 0;
}
.u-section-6 .u-image-10 {
  min-height: 28px;
  background-image: url('images/WOLFPACK_LOGO.png');
}
.u-section-6 .u-container-layout-21 {
  padding: 0;
}
.u-section-6 .u-layout-cell-18 {
  min-height: 28px;
  background-image: none;
}
.u-section-6 .u-container-layout-22 {
  padding: 0;
}
.u-section-6 .u-text-20 {
  font-size: 1.5rem;
  margin: 0 auto;
}
.u-section-6 .u-layout-cell-19 {
  min-height: 28px;
}
.u-section-6 .u-container-layout-23 {
  padding: 0 0 0 5px;
}
.u-section-6 .u-text-21 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}
.u-section-6 .u-layout-cell-20 {
  min-height: 28px;
}
.u-section-6 .u-container-layout-24 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 70px;
  }
  .u-section-6 .u-sheet-1 {
    min-height: 557px;
  }
  .u-section-6 .u-text-1 {
    margin-left: 229px;
  }
  .u-section-6 .u-group-1 {
    margin-left: 141px;
  }
  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    min-height: 245px;
  }
  .u-section-6 .u-image-7 {
    min-height: 25px;
  }
  .u-section-6 .u-layout-cell-6 {
    min-height: 25px;
  }
  .u-section-6 .u-layout-cell-7 {
    min-height: 25px;
  }
  .u-section-6 .u-layout-cell-8 {
    min-height: 25px;
  }
  .u-section-6 .u-image-8 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-10 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-11 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-12 {
    min-height: 15px;
  }
  .u-section-6 .u-image-9 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-14 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-16 {
    min-height: 15px;
  }
  .u-section-6 .u-image-10 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-18 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-19 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-20 {
    min-height: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 334px;
  }
  .u-section-6 .u-sheet-1 {
    min-height: 427px;
  }
  .u-section-6 .u-text-1 {
    margin-left: 9px;
  }
  .u-section-6 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }
  .u-section-6 .u-image-3 {
    width: 720px;
  }
  .u-section-6 .u-image-4 {
    width: 720px;
  }
  .u-section-6 .u-image-5 {
    width: 720px;
  }
  .u-section-6 .u-text-10 {
    margin-right: 648px;
  }
  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    min-height: 2255px;
  }
  .u-section-6 .u-image-6 {
    min-height: 252px;
  }
  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
  .u-section-6 .u-layout-cell-4 {
    min-height: 101px;
  }
  .u-section-6 .u-image-7 {
    min-height: 225px;
  }
  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }
  .u-section-6 .u-layout-cell-7 {
    min-height: 100px;
  }
  .u-section-6 .u-layout-cell-8 {
    min-height: 90px;
  }
  .u-section-6 .u-image-8 {
    min-height: 135px;
  }
  .u-section-6 .u-layout-cell-10 {
    min-height: 100px;
  }
  .u-section-6 .u-layout-cell-11 {
    min-height: 100px;
  }
  .u-section-6 .u-layout-cell-12 {
    min-height: 54px;
  }
  .u-section-6 .u-image-9 {
    min-height: 135px;
  }
  .u-section-6 .u-layout-cell-14 {
    min-height: 100px;
  }
  .u-section-6 .u-layout-cell-15 {
    min-height: 100px;
  }
  .u-section-6 .u-layout-cell-16 {
    min-height: 54px;
  }
  .u-section-6 .u-image-10 {
    min-height: 135px;
  }
  .u-section-6 .u-layout-cell-18 {
    min-height: 100px;
  }
  .u-section-6 .u-layout-cell-19 {
    min-height: 100px;
  }
  .u-section-6 .u-layout-cell-20 {
    min-height: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 593px;
  }
  .u-section-6 .u-sheet-1 {
    min-height: 320px;
  }
  .u-section-6 .u-text-1 {
    margin-left: 0;
  }
  .u-section-6 .u-group-1 {
    width: 540px;
  }
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-6 .u-image-3 {
    width: 540px;
  }
  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-6 .u-image-4 {
    width: 540px;
  }
  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-6 .u-image-5 {
    width: 540px;
  }
  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-6 .u-text-10 {
    margin-right: 508px;
  }
  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    min-height: 1882px;
  }
  .u-section-6 .u-image-6 {
    min-height: 189px;
  }
  .u-section-6 .u-layout-cell-4 {
    min-height: 76px;
  }
  .u-section-6 .u-image-7 {
    min-height: 169px;
  }
  .u-section-6 .u-layout-cell-8 {
    min-height: 68px;
  }
  .u-section-6 .u-image-8 {
    min-height: 101px;
  }
  .u-section-6 .u-layout-cell-12 {
    min-height: 41px;
  }
  .u-section-6 .u-image-9 {
    min-height: 101px;
  }
  .u-section-6 .u-layout-cell-16 {
    min-height: 41px;
  }
  .u-section-6 .u-image-10 {
    min-height: 101px;
  }
  .u-section-6 .u-layout-cell-20 {
    min-height: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 201px;
  }
  .u-section-6 .u-group-1 {
    width: 340px;
  }
  .u-section-6 .u-image-1 {
    width: 151px;
    height: 41px;
    margin-left: 0;
  }
  .u-section-6 .u-image-2 {
    width: 147px;
    height: 46px;
    margin-top: -43px;
    margin-right: -2px;
  }
  .u-section-6 .u-image-3 {
    width: 340px;
  }
  .u-section-6 .u-image-4 {
    width: 340px;
  }
  .u-section-6 .u-image-5 {
    width: 340px;
  }
  .u-section-6 .u-text-10 {
    margin-right: 308px;
  }
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }
  .u-section-6 .u-image-6 {
    min-height: 20px;
  }
  .u-section-6 .u-layout-cell-2 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-3 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-4 {
    min-height: 15px;
  }
  .u-section-6 .u-image-7 {
    min-height: 20px;
  }
  .u-section-6 .u-layout-cell-6 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-7 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-8 {
    min-height: 15px;
  }
  .u-section-6 .u-image-8 {
    min-height: 64px;
  }
  .u-section-6 .u-layout-cell-10 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-11 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-12 {
    min-height: 15px;
  }
  .u-section-6 .u-image-9 {
    min-height: 64px;
  }
  .u-section-6 .u-layout-cell-14 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-15 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-16 {
    min-height: 15px;
  }
  .u-section-6 .u-image-10 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-18 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-19 {
    min-height: 15px;
  }
  .u-section-6 .u-layout-cell-20 {
    min-height: 15px;
  }
}
.u-section-7 .u-sheet-1 {
  min-height: 158px;
}
.u-section-7 .u-text-1 {
  width: 558px;
  font-size: 1.5rem;
  margin: 54px auto;
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }
}
.u-section-8 .u-sheet-1 {
  min-height: 79px;
}
.u-section-8 .u-text-1 {
  text-transform: uppercase;
  margin: 20px auto;
}
.u-section-9 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url('images/LEV_circle.png');
}
.u-section-9 .u-sheet-1 {
  min-height: 505px;
}
.u-section-9 .u-text-1 {
  font-size: 3rem;
  margin: 141px auto 0;
}
.u-section-9 .u-layout-wrap-1 {
  width: 1033px;
  margin: 11px auto 60px;
}
.u-section-9 .u-layout-cell-1 {
  min-height: 95px;
}
.u-section-9 .u-container-layout-1 {
  padding: 0;
}
.u-section-9 .u-text-2 {
  font-size: 2.3rem;
  margin: 0 auto;
}
.u-section-9 .u-layout-cell-2 {
  min-height: 95px;
  background-image: none;
}
.u-section-9 .u-container-layout-2 {
  padding: 0;
}
.u-section-9 .u-text-3 {
  font-size: 1.9rem;
  margin: 0 -12px;
}
.u-section-9 .u-layout-cell-3 {
  min-height: 95px;
}
.u-section-9 .u-container-layout-3 {
  padding: 5px;
}
.u-section-9 .u-text-4 {
  font-size: 2.3rem;
  margin: 0 auto;
}
.u-section-9 .u-image-1 {
  background-image: url('images/URBAN_LEV_AVATAR.png');
  min-height: 95px;
}
.u-section-9 .u-container-layout-4 {
  padding: 30px;
}
.u-section-9 .u-layout-cell-5 {
  min-height: 95px;
}
.u-section-9 .u-container-layout-5 {
  padding: 5px;
}
.u-section-9 .u-text-5 {
  font-size: 2.3rem;
  width: 81px;
  margin: 0 auto;
}
.u-section-9 .u-layout-cell-6 {
  min-height: 95px;
}
.u-section-9 .u-container-layout-6 {
  padding: 5px;
}
.u-section-9 .u-text-6 {
  font-size: 2.3rem;
  margin: 0;
}
.u-section-9 .u-layout-cell-7 {
  min-height: 95px;
}
.u-section-9 .u-container-layout-7 {
  padding: 5px;
}
.u-section-9 .u-text-7 {
  font-size: 2.3rem;
  margin: 0;
}
.u-section-9 .u-layout-cell-8 {
  min-height: 95px;
}
.u-section-9 .u-container-layout-8 {
  padding: 5px;
}
.u-section-9 .u-text-8 {
  font-size: 2.3rem;
  margin: 0 8px;
}
.u-section-9 .u-layout-cell-9 {
  min-height: 129px;
}
.u-section-9 .u-container-layout-9 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 462px;
  }
  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
    min-height: 144px;
  }
  .u-section-9 .u-layout-cell-1 {
    min-height: 66px;
  }
  .u-section-9 .u-layout-cell-2 {
    min-height: 66px;
  }
  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
  .u-section-9 .u-layout-cell-3 {
    min-height: 66px;
  }
  .u-section-9 .u-image-1 {
    min-height: 66px;
  }
  .u-section-9 .u-layout-cell-5 {
    min-height: 66px;
  }
  .u-section-9 .u-layout-cell-6 {
    min-height: 66px;
  }
  .u-section-9 .u-layout-cell-7 {
    min-height: 66px;
  }
  .u-section-9 .u-layout-cell-8 {
    min-height: 66px;
  }
  .u-section-9 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
  .u-section-9 .u-layout-cell-9 {
    min-height: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
    min-height: 242px;
  }
  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }
  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }
  .u-section-9 .u-image-1 {
    min-height: 59px;
  }
  .u-section-9 .u-layout-cell-5 {
    min-height: 100px;
  }
  .u-section-9 .u-text-5 {
    width: 74px;
  }
  .u-section-9 .u-layout-cell-6 {
    min-height: 100px;
  }
  .u-section-9 .u-layout-cell-7 {
    min-height: 100px;
  }
  .u-section-9 .u-layout-cell-8 {
    min-height: 100px;
  }
  .u-section-9 .u-layout-cell-9 {
    min-height: 82px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
    min-height: 533px;
  }
  .u-section-9 .u-image-1 {
    min-height: 295px;
  }
  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-9 .u-layout-cell-9 {
    min-height: 62px;
  }
  .u-section-9 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.5;
  }
  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
    min-height: 377px;
  }
  .u-section-9 .u-layout-cell-2 {
    min-height: 29px;
  }
  .u-section-9 .u-layout-cell-3 {
    min-height: 23px;
  }
  .u-section-9 .u-container-layout-3 {
    padding-top: 0;
  }
  .u-section-9 .u-image-1 {
    min-height: 30px;
  }
  .u-section-9 .u-layout-cell-5 {
    min-height: 27px;
  }
  .u-section-9 .u-layout-cell-6 {
    min-height: 17px;
  }
  .u-section-9 .u-layout-cell-7 {
    min-height: 16px;
  }
  .u-section-9 .u-layout-cell-8 {
    min-height: 15px;
  }
  .u-section-9 .u-layout-cell-9 {
    min-height: 26px;
  }
}
.u-section-10 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url('images/WOLFPACK_LOGO.png');
  background-position: 50% 50%;
}
.u-section-10 .u-sheet-1 {
  min-height: 505px;
}
.u-section-10 .u-text-1 {
  font-size: 3rem;
  margin: 141px auto 0;
}
.u-section-10 .u-layout-wrap-1 {
  width: 1029px;
  margin: 12px auto 60px;
}
.u-section-10 .u-layout-cell-1 {
  min-height: 116px;
}
.u-section-10 .u-container-layout-1 {
  padding: 0;
}
.u-section-10 .u-text-2 {
  font-size: 2.3rem;
  margin: 0 auto;
}
.u-section-10 .u-layout-cell-2 {
  min-height: 116px;
  background-image: none;
}
.u-section-10 .u-container-layout-2 {
  padding: 0;
}
.u-section-10 .u-text-3 {
  font-size: 1.9rem;
  margin: 0 -12px;
}
.u-section-10 .u-layout-cell-3 {
  min-height: 116px;
}
.u-section-10 .u-container-layout-3 {
  padding: 5px;
}
.u-section-10 .u-text-4 {
  font-size: 2.3rem;
  margin: 0 auto;
}
.u-section-10 .u-image-1 {
  background-image: url('images/URBAN_LEV_AVATAR.png');
  min-height: 116px;
}
.u-section-10 .u-container-layout-4 {
  padding: 30px;
}
.u-section-10 .u-layout-cell-5 {
  min-height: 116px;
}
.u-section-10 .u-container-layout-5 {
  padding: 5px;
}
.u-section-10 .u-text-5 {
  font-size: 2.3rem;
  width: 81px;
  margin: 0 auto;
}
.u-section-10 .u-layout-cell-6 {
  min-height: 116px;
}
.u-section-10 .u-container-layout-6 {
  padding: 5px;
}
.u-section-10 .u-text-6 {
  font-size: 2.3rem;
  margin: 0;
}
.u-section-10 .u-layout-cell-7 {
  min-height: 116px;
}
.u-section-10 .u-container-layout-7 {
  padding: 5px;
}
.u-section-10 .u-text-7 {
  font-size: 2.3rem;
  margin: 0;
}
.u-section-10 .u-layout-cell-8 {
  min-height: 116px;
}
.u-section-10 .u-container-layout-8 {
  padding: 5px;
}
.u-section-10 .u-text-8 {
  font-size: 2.3rem;
  margin: 0 8px;
}
.u-section-10 .u-layout-cell-9 {
  min-height: 82px;
}
.u-section-10 .u-container-layout-9 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 462px;
  }
  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
  }
  .u-section-10 .u-layout-cell-1 {
    min-height: 84px;
  }
  .u-section-10 .u-layout-cell-2 {
    min-height: 84px;
  }
  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
  .u-section-10 .u-layout-cell-3 {
    min-height: 84px;
  }
  .u-section-10 .u-image-1 {
    min-height: 84px;
  }
  .u-section-10 .u-layout-cell-5 {
    min-height: 84px;
  }
  .u-section-10 .u-layout-cell-6 {
    min-height: 84px;
  }
  .u-section-10 .u-layout-cell-7 {
    min-height: 84px;
  }
  .u-section-10 .u-layout-cell-8 {
    min-height: 84px;
  }
  .u-section-10 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
  .u-section-10 .u-layout-cell-9 {
    min-height: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }
  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }
  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }
  .u-section-10 .u-layout-cell-3 {
    min-height: 100px;
  }
  .u-section-10 .u-image-1 {
    min-height: 76px;
  }
  .u-section-10 .u-layout-cell-5 {
    min-height: 100px;
  }
  .u-section-10 .u-text-5 {
    width: 74px;
  }
  .u-section-10 .u-layout-cell-6 {
    min-height: 100px;
  }
  .u-section-10 .u-layout-cell-7 {
    min-height: 100px;
  }
  .u-section-10 .u-layout-cell-8 {
    min-height: 100px;
  }
  .u-section-10 .u-layout-cell-9 {
    min-height: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }
  .u-section-10 .u-image-1 {
    min-height: 380px;
  }
  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-10 .u-layout-cell-9 {
    min-height: 41px;
  }
  .u-section-10 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    font-size: 1.5;
  }
  .u-section-10 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-10 .u-layout-cell-2 {
    min-height: 25px;
  }
  .u-section-10 .u-layout-cell-3 {
    min-height: 38px;
  }
  .u-section-10 .u-image-1 {
    min-height: 60px;
  }
  .u-section-10 .u-layout-cell-5 {
    min-height: 53px;
  }
  .u-section-10 .u-container-layout-5 {
    padding-bottom: 0;
  }
  .u-section-10 .u-layout-cell-6 {
    min-height: 58px;
  }
  .u-section-10 .u-layout-cell-7 {
    min-height: 58px;
  }
  .u-section-10 .u-layout-cell-8 {
    min-height: 35px;
  }
  .u-section-10 .u-layout-cell-9 {
    min-height: 60px;
  }
}
.u-section-11 .u-sheet-1 {
  min-height: 158px;
}
.u-section-11 .u-text-1 {
  font-size: 1.9rem;
  margin: 54px auto;
}
.u-section-12 .u-sheet-1 {
  min-height: 100vh;
}
.u-section-12 .u-text-1 {
  text-transform: uppercase;
  margin: 20px auto 0;
}
.u-section-12 .u-group-1 {
  width: 800px;
  min-height: 573px;
  margin: 32px auto 0;
}
.u-section-12 .u-container-layout-1 {
  padding: 30px 15px 30px 20px;
}
.u-section-12 .u-image-1 {
  width: 375px;
  min-height: 507px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url('images/phm-cup-19-lnv-bdt_31042995958_o.jpg');
  background-position: 50% 50%;
  margin: 0 0 0 auto;
}
.u-section-12 .u-container-layout-2 {
  padding: 30px;
}
.u-section-12 .u-group-3 {
  width: 373px;
  min-height: 142px;
  margin: -30px -29px 0;
}
.u-section-12 .u-container-layout-3 {
  padding: 30px;
}
.u-section-12 .u-image-2 {
  width: 229px;
  height: 27px;
  margin: 2px auto 0;
}
.u-section-12 .u-text-2 {
  font-weight: 900;
  font-size: 1.875rem;
  margin: 20px auto 0;
}
.u-section-12 .u-image-3 {
  width: 285px;
  height: 234px;
  margin: 2px auto -236px;
}
.u-section-12 .u-text-3 {
  margin: 219px auto 0;
}
.u-section-12 .u-icon-1 {
  height: 36px;
  width: 36px;
  background-image: none;
  margin: 4px auto 0;
}
.u-section-12 .u-icon-2 {
  height: 36px;
  width: 36px;
  background-image: none;
  margin: -36px auto 0;
}
.u-section-12 .u-text-4 {
  font-size: 2.3rem;
  margin: 25px 9px 0;
}
.u-section-12 .u-image-4 {
  width: 375px;
  min-height: 508px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url('images/phm-cup-19-lnv-bdt_31042995958_o.jpg');
  background-position: 50% 50%;
  margin: -507px auto 0 0;
}
.u-section-12 .u-container-layout-4 {
  padding: 0 30px 30px;
}
.u-section-12 .u-group-5 {
  width: 373px;
  min-height: 142px;
  margin: 0 -29px;
}
.u-section-12 .u-container-layout-5 {
  padding: 30px;
}
.u-section-12 .u-image-5 {
  width: 229px;
  height: 27px;
  margin: 2px auto 0;
}
.u-section-12 .u-text-5 {
  font-weight: 900;
  font-size: 1.875rem;
  margin: 20px 21px 0;
}
.u-section-12 .u-image-6 {
  width: 285px;
  height: 234px;
  margin: 2px auto -236px;
}
.u-section-12 .u-text-6 {
  margin: 219px auto 0;
}
.u-section-12 .u-icon-3 {
  height: 36px;
  width: 36px;
  background-image: none;
  margin: 5px auto 0;
}
.u-section-12 .u-icon-4 {
  height: 36px;
  width: 36px;
  background-image: none;
  margin: -36px auto 0;
}
.u-section-12 .u-text-7 {
  font-size: 2.3rem;
  margin: 31px auto 0 71px;
}
.u-section-12 .u-image-7 {
  width: 400px;
  min-height: 250px;
  background-image: url('images/IMG_5087.JPG');
  margin: 30px auto 0 170px;
}
.u-section-12 .u-container-layout-6 {
  padding: 30px;
}
.u-section-12 .u-image-8 {
  width: 400px;
  min-height: 250px;
  background-image: url('images/IMG_5086.JPG');
  background-position: 50% 50%;
  margin: -250px 170px 60px auto;
}
.u-section-12 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-image-4 {
    margin-right: 327px;
  }
  .u-section-12 .u-text-6 {
    margin-left: 66px;
  }
  .u-section-12 .u-text-7 {
    width: 174px;
    height: 28px;
    margin-left: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-group-1 {
    width: 720px;
  }
  .u-section-12 .u-image-1 {
    width: 330px;
    margin-left: 295px;
  }
  .u-section-12 .u-group-3 {
    width: 270px;
    margin-right: 0;
    margin-left: 0;
  }
  .u-section-12 .u-image-2 {
    width: 210px;
    height: 25px;
  }
  .u-section-12 .u-text-2 {
    margin-right: 0;
  }
  .u-section-12 .u-image-3 {
    width: 210px;
    height: 173px;
  }
  .u-section-12 .u-text-3 {
    margin-left: 13px;
  }
  .u-section-12 .u-image-4 {
    width: 330px;
    margin-right: 285px;
  }
  .u-section-12 .u-group-5 {
    width: 270px;
    margin-right: 0;
    margin-left: 0;
  }
  .u-section-12 .u-image-5 {
    width: 210px;
    height: 25px;
  }
  .u-section-12 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
  .u-section-12 .u-image-6 {
    width: 210px;
    height: 173px;
  }
  .u-section-12 .u-text-6 {
    margin-left: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-group-1 {
    width: 540px;
  }
  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-12 .u-image-1 {
    margin-left: 190px;
  }
  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-12 .u-group-3 {
    width: 240px;
  }
  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-12 .u-text-2 {
    font-size: 1.5;
  }
  .u-section-12 .u-text-3 {
    margin-left: 0;
  }
  .u-section-12 .u-image-4 {
    width: 260px;
  }
  .u-section-12 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-12 .u-group-5 {
    width: 240px;
  }
  .u-section-12 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-12 .u-text-5 {
    font-size: 1.5;
  }
  .u-section-12 .u-text-6 {
    margin-left: 0;
  }
  .u-section-12 .u-image-7 {
    margin-left: 140px;
  }
  .u-section-12 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-12 .u-image-8 {
    margin-right: 140px;
  }
  .u-section-12 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1720px;
  }
  .u-section-12 .u-group-1 {
    width: 340px;
    min-height: 1084px;
  }
  .u-section-12 .u-image-1 {
    width: 245px;
    margin-left: auto;
    margin-right: auto;
  }
  .u-section-12 .u-group-3 {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
  }
  .u-section-12 .u-image-2 {
    width: 120px;
    height: 14px;
  }
  .u-section-12 .u-image-3 {
    width: 120px;
    height: 99px;
  }
  .u-section-12 .u-text-3 {
    margin-left: 21px;
    margin-right: 21px;
  }
  .u-section-12 .u-image-4 {
    width: 247px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }
  .u-section-12 .u-group-5 {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
  }
  .u-section-12 .u-image-5 {
    width: 120px;
    height: 14px;
  }
  .u-section-12 .u-image-6 {
    width: 120px;
    height: 99px;
  }
  .u-section-12 .u-text-6 {
    margin-left: auto;
  }
  .u-section-12 .u-text-7 {
    margin-left: 45px;
  }
  .u-section-12 .u-image-7 {
    width: 340px;
    margin-left: 0;
  }
  .u-section-12 .u-image-8 {
    margin-top: 8px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}
.u-section-13 .u-sheet-1 {
  min-height: 833px;
}
.u-section-13 .u-text-1 {
  text-transform: uppercase;
  margin: 20px auto 0;
}
.u-section-13 .u-group-1 {
  width: 800px;
  min-height: 652px;
  margin: 32px auto 60px;
}
.u-section-13 .u-container-layout-1 {
  padding: 30px 15px 30px 20px;
}
.u-section-13 .u-image-1 {
  width: 375px;
  min-height: 592px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url('images/phm-cup-19-lnv-bdt_31042995958_o.jpg');
  background-position: 50% 50%;
  margin: 0 0 0 auto;
}
.u-section-13 .u-container-layout-2 {
  padding: 30px;
}
.u-section-13 .u-group-3 {
  width: 373px;
  min-height: 142px;
  margin: -30px -29px 0;
}
.u-section-13 .u-container-layout-3 {
  padding: 30px;
}
.u-section-13 .u-text-2 {
  font-weight: 900;
  font-size: 1.875rem;
  margin: 25px auto 0;
}
.u-section-13 .u-image-2 {
  width: 285px;
  height: 234px;
  margin: 27px 8px -236px auto;
}
.u-section-13 .u-text-3 {
  font-size: 1.9rem;
  margin: 219px auto 0;
}
.u-section-13 .u-text-4 {
  font-size: 2.3rem;
  margin: 41px 9px 0;
}
.u-section-13 .u-image-3 {
  width: 375px;
  min-height: 592px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url('images/phm-cup-19-lnv-bdt_31042995958_o.jpg');
  background-position: 50% 50%;
  margin: -592px auto 0 0;
}
.u-section-13 .u-container-layout-4 {
  padding: 0 30px 30px;
}
.u-section-13 .u-group-5 {
  width: 373px;
  min-height: 142px;
  margin: 0 -29px;
}
.u-section-13 .u-container-layout-5 {
  padding: 30px;
}
.u-section-13 .u-text-5 {
  font-weight: 900;
  font-size: 1.875rem;
  margin: 25px 21px 0;
}
.u-section-13 .u-image-4 {
  width: 285px;
  height: 234px;
  margin: 27px 8px -236px auto;
}
.u-section-13 .u-text-6 {
  font-size: 1.9rem;
  margin: 219px auto 0;
}
.u-section-13 .u-text-7 {
  font-size: 2.3rem;
  margin: 46px auto 0 83px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-image-3 {
    margin-right: 327px;
  }
  .u-section-13 .u-text-6 {
    margin-left: 66px;
  }
  .u-section-13 .u-text-7 {
    width: 174px;
    height: 28px;
    margin-left: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-group-1 {
    width: 720px;
  }
  .u-section-13 .u-image-1 {
    width: 330px;
    margin-left: 295px;
  }
  .u-section-13 .u-group-3 {
    width: 270px;
    margin-right: 0;
    margin-left: 0;
  }
  .u-section-13 .u-image-2 {
    width: 210px;
    height: 173px;
    margin-right: 0;
  }
  .u-section-13 .u-text-3 {
    margin-left: 13px;
  }
  .u-section-13 .u-image-3 {
    width: 330px;
    margin-right: 285px;
  }
  .u-section-13 .u-group-5 {
    width: 270px;
    margin-right: 0;
    margin-left: 0;
  }
  .u-section-13 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
  .u-section-13 .u-image-4 {
    width: 210px;
    height: 173px;
    margin-right: 0;
  }
  .u-section-13 .u-text-6 {
    margin-left: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-group-1 {
    width: 540px;
  }
  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-13 .u-image-1 {
    margin-left: 190px;
  }
  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-13 .u-group-3 {
    width: 240px;
  }
  .u-section-13 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-13 .u-text-2 {
    font-size: 1.5;
  }
  .u-section-13 .u-text-3 {
    margin-left: 0;
  }
  .u-section-13 .u-image-3 {
    width: 260px;
  }
  .u-section-13 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-13 .u-group-5 {
    width: 240px;
  }
  .u-section-13 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-13 .u-text-5 {
    font-size: 1.5;
  }
  .u-section-13 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1720px;
  }
  .u-section-13 .u-group-1 {
    width: 340px;
    min-height: 1218px;
  }
  .u-section-13 .u-image-1 {
    width: 245px;
    min-height: 572px;
    margin-left: auto;
    margin-right: auto;
  }
  .u-section-13 .u-group-3 {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
  }
  .u-section-13 .u-image-2 {
    width: 120px;
    height: 99px;
  }
  .u-section-13 .u-text-3 {
    margin-left: 21px;
    margin-right: 21px;
  }
  .u-section-13 .u-image-3 {
    width: 247px;
    min-height: 576px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }
  .u-section-13 .u-group-5 {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
  }
  .u-section-13 .u-text-5 {
    margin-top: 36px;
  }
  .u-section-13 .u-image-4 {
    width: 120px;
    height: 99px;
  }
  .u-section-13 .u-text-6 {
    margin-left: auto;
  }
  .u-section-13 .u-text-7 {
    margin-left: 45px;
  }
}
/* stylelint-enable */
